In [1]:
#1
x=input("Enter the elements of the list: ")
elements = x.split()
alternate_elements = elements[::2]
print("Alternate elements of the list are:")
for element in alternate_elements:
    print(element)

Enter the elements of the list:  1 2 3 4 5
Alternate elements of the list are:
1
3
5

In [3]:
#2
user_input = input("Enter the elements of the list separated by spaces: ")

elements = user_input.split()
reversed_elements = elements[::-1]
print("Reversed list:")
for element in reversed_elements:
    print(element)

Enter the elements of the list separated by spaces: 1 2 3 4 5
Reversed list:
5
4
3
2
1

In [5]:
#3
def largest():
    user_input = input("Please enter numbers separated by spaces: ")
    number_strings = user_input.split()
    numbers = [int(num) for num in number_strings]
    if not numbers:
        print("No numbers were entered.")
        return

    largest_number = numbers[0]
    for num in numbers:
        if num > largest_number:
            largest_number = num

    print("The largest number is:", largest_number)

largest()

Please enter numbers separated by spaces: 10 5 4 8 3
The largest number is: 10

In [6]:
#4
def rotated():

    user_input = input("Please enter the elements of the list separated by spaces: ")
    elements = user_input.split()
    if len(elements) <= 1:
        print("Rotated list:", " ".join(elements))
        return

    last_element = elements[-1]
    for i in range(len(elements) - 1, 0, -1):
        elements[i] = elements[i - 1]

    elements[0] = last_element
    print("Rotated list:", " ".join(elements))

rotated()

Please enter the elements of the list separated by spaces: 1 2 3 4 5
Rotated list: 5 1 2 3 4

In [7]:
#5
def modified():
    og_string = input("Please enter a string: ")
    word_to_remove = input("Please enter the word to remove: ")

    words = og_string.split()
    fil_words = [word for word in words if word != word_to_remove]
    mod_string = ' '.join(fil_words)

    print("Modified string:", mod_string)

modified()

Please enter a string: samia ilyas bscs fast uni
Please enter the word to remove: bscs
Modified string: samia ilyas fast uni

In [10]:
#6
from datetime import datetime

def formatted():
    date_input = input("Enter a date in the format mm/dd/yyyy: ")

    try:
        date_object = datetime.strptime(date_input, "%m/%d/%Y")
        formatted = date_object.strftime("%B %d, %Y")
        print("Formatted date:", formatted)

    except ValueError:
        print("Invalid date format. Enter the date in mm/dd/yyyy format.")

formatted()

Enter a date in the format mm/dd/yyyy: 10/15/1999
Formatted date: October 15, 1999

In [13]:
#7
def capitalise_words(sentence):
    capitalised_sentence = sentence.title()
    return capitalised_sentence

def capitalised():
    sentence = input("Please enter a sentence: ")
    result = capitalise_words(sentence)
    print("Capitalised Sentence:", result)

capitalised()

Please enter a sentence: samia ilyas
Capitalized Sentence: Samia Ilyas

In [14]:
#8
m = int(input("Enter the number of rows (m): "))
n = int(input("Enter the number of columns (n): "))
matrix = []

for i in range(m):
    row = input(f"Enter {n} numbers for row {i + 1} separated by spaces: ")
    matrix.append([int(x) for x in row.split()])

print("The input matrix is:")
for i, row in enumerate(matrix):
    row_sum = sum(row)
    print(' '.join(map(str, row)), f"Sum of row {i + 1} = {row_sum}")

Enter the number of rows (m): 4
Enter the number of columns (n): 4
Enter 4 numbers for row 1 separated by spaces: 1 2 3 4
Enter 4 numbers for row 2 separated by spaces: 2 3 4 1
Enter 4 numbers for row 3 separated by spaces: 3 4 1 2
Enter 4 numbers for row 4 separated by spaces: 4 1 2 3
The input matrix is:
1 2 3 4 Sum of row 1 = 10
2 3 4 1 Sum of row 2 = 10
3 4 1 2 Sum of row 3 = 10
4 1 2 3 Sum of row 4 = 10

In [16]:
#9
m1 = [[1,2,3], [4,5,6]]
m2 = [[7,8,9], [10,11,12]]

if len(m1) != len(B) or len(m1[0]) != len(m2[0]):
    print("Error!")
else:
    C = []

    for i in range(len(m1)):
        temp = []
        for j in range(len(m1[0])):
            temp.append(m1[i][j] + m2[i][j])
        C.append(temp)

    print("Matrix sum:")
    for row in C:
        print(row)

Matrix sum:
[8, 10, 12]
[14, 16, 18]

# **LOOPS**

In [17]:
#1
for number in range(1, 11):
        print(number)

1
2
3
4
5
6
7
8
9
10

In [19]:
#2
i = 20
while i > 0:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [21]:
#3
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [24]:
#4
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number: 5
1
2
3
4
5

In [26]:
#5
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    if i % 2 == 1:
        print(i)

Enter a number: 5
1
3
5

In [28]:
#6
for i in range(5):
  print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

In [29]:
#7
n = int(input("Enter a number: "))
squares = []

for i in range(1, n + 1):
    squares.append(i ** 2)

print(f"The first {n} terms of the series are:", ' '.join(map(str, squares)))

Enter a number: 5
The first 5 terms of the series are: 1 4 9 16 25

In [30]:
#8
num = int(input("Enter a number to see its multiplication table: "))
print(f"Multiplication table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to see its multiplication table: 5
Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [32]:
#9
first_term = 3
common_difference = 4

num_terms = 8
for i in range(num_terms):
    current_term = first_term + i * common_difference
    print(current_term, end=' ')

3 7 11 15 19 23 27 31

In [33]:
#10
initial_term = 2
common_ratio = 3
num_terms = 6
current_term = initial_term
for i in range(num_terms):
    print(current_term, end=' ')
    current_term *= common_ratio

2 6 18 54 162 486

In [34]:
#11
def positive():
  n = int(input("Enter a positive integer: "))
  if n <= 0:
      print("Enter a positive integer greater than zero.")
      return

  sum_of_integers = 0
  for i in range(1, n + 1):
      sum_of_integers += i

  print(f"The sum of all integers from 1 to {n} is {sum_of_integers}")

positive()

Enter a positive integer: 5
The sum of all integers from 1 to 5 is 15

In [35]:
#12
def positive():
    N = int(input("Enter a positive integer: "))
    if N <= 0:
        print("The number entered is not a positive integer. Enter a value greater than zero.")
        return

    sum_of_reciprocals = 0.0
    for i in range(1, N + 1):
        sum_of_reciprocals += 1 / i

    print(f"The sum of reciprocals from 1 to {N} is: {sum_of_reciprocals:.2f}")


positive()

Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

In [37]:
#13
total = 0
for i in range(5):
    number = int(input("Enter a number: "))
    total += number

print(f"The final running total is: {total}")

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The final running total is: 15

In [41]:
#14
def positive():
  try:
      n = int(input("Enter a positive integer: "))
  except ValueError:
      print("Invalid input! Please enter a valid integer.")
      return

  if n < 0:
      print("Factorial does not exist for negative numbers.")
  elif n == 0:
      print("The factorial of 0 is 1.")
  else:
      factorial = 1
      for i in range(1, n + 1):
          factorial *= i
      print(f"The factorial of {n} is {factorial}.")

positive()

Enter a positive integer: 5
The factorial of 5 is 120.

In [42]:
#15
def cal_power(base, exponent):
    result = 1
    abs_exponent = abs(exponent)

    for _ in range(abs_exponent):
        result *= base

    if exponent < 0:
        result = 1 / result

    return result

def main():
    try:
        base = float(input("Enter the base number: "))
        exponent = int(input("Enter the exponent (an integer): "))
    except ValueError:
        print("Invalid input. Enter numerical values.")
        return

    result = cal_power(base, exponent)
    print(f"{base} to the power of {exponent} is {result}")

main()

Enter the base number: 5
Enter the exponent (an integer): 2
5.0 to the power of 2 is 25.0